@page "/contactDelete/{id:int}"
@inject IContactServices ContactService
@inject NavigationManager NavigationManager

<h3>ContactDetails</h3>

@if (contact == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <EditForm Model="contact" OnValidSubmit="Delete">
        <div class="card">
            <h5 class="card-header">Contact Details</h5>
            <div class="card-body">
                <div class="container">
                    <div class="row">
                        <div class = "col-md-6 mb-3">
                            <label for="">First Name</label>
                            <InputText class= "form-control" @bind-Value="contact.FirstName"></InputText>
                        </div>
                        <div class = "col-md-6 mb-3">
                            <label for="">Last Name</label>
                            <InputText class= "form-control" @bind-Value="contact.LastName"></InputText>
                        </div>
                    </div>
                    <div class="row">
                        <div class = "col-md-12 mb-3">
                            <label for="">Phone</label>
                            <InputText class= "form-control" @bind-Value="contact.Phone"></InputText>
                        </div>
                        <div class = "col-md-12 mb-3">
                            <label for="">Address</label>
                            <InputTextArea class= "form-control" @bind-Value="contact.Address"></InputTextArea>
                        </div>
                    </div>
                    <div class="row">
                        <div class = "col-md-4 mb-3">
                            
                        </div>
                        <div class = "col-md-4 mb-3">
                           <input type="submit" class="btn  btn-danger" value="Delete" >
                           <input type="submit" class="btn btn-secondary" value="Cancel" @onclick="NavigateHome">
                        </div>
                        <div class = "col-md-4 mb-3">
                            
                        </div>
                    </div>                    
                </div>
            </div>
        </div>

    </EditForm>
}



@code {
    public Contact contact;

    [Parameter]
    public int id { get; set; }

    protected async override Task OnInitializedAsync()
    {
        contact = await ContactService.GetDetails(id);
    }

    protected async Task Delete()
    {
        await ContactService.DeleteContact(id);
        NavigateHome();
    }

    private void NavigateHome()
    {
        NavigationManager.NavigateTo("/");
    }

}
